# Ignorar el archivo .env que contiene las credenciales sensibles
.env

# Archivos y directorios de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Metadata de paquetes Python
*.egg-info/
*.egg
dist/
build/

# Ignorar entornos virtuales
venv/
env/

# Archivos de logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db
